a[href="https://www.youtube.com/"], a[href="https://validator.w3.org/"] {
color: red;
}
.holder p { font-size: 24px;}
.yellow { 
    color:yellow 
}
#greycol { 
    color:grey 
}
.text-box h3:nth-child(1) { 
    color: pink;
}
div p:nth-child(1) {
     color: red;
}